/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.main-section {
    background-color: #225;
    border: 10px solid #225;
}
h1 {
    font-size: 28px;
    text-align: center;
    margin: 8px auto;
}
nav {
    font-size: 12px;
    text-align: center;
}
h2 {
    font-size: 32px;
    margin-top: 80px;
    margin-left: 90px;
}
hr {
    width: 560px;
}
p {
    font-size: 12px;
    margin-top: 15px;
    margin-left: 80px;
}
h3 {
    font-size: 28px;
    margin-top: 20px;
    margin-left: 90px;
}
img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 20px 80px;
}
.main-a {
    font-size: 12px;
    margin-left: 80px;
}
.section_2 {
    background-color: aquamarine;
    border:  10px solid aquamarine;
}
.section_3 {
    background-color: lightblue;
    border:  10px solid lightblue;
}
.section_4 {
    background-color: lightgrey;
    border:  10px solid lightgrey;
}
footer {
    background-color: darkgray;
    text-align: center;
    font-size: 12px;
    border: 2px solid darkgray;
}